.main-div {
    box-sizing: border-box;
    position: absolute;
    width: 505px;
    height: 757px;
    left: 107px;
    top: 89px;
    background: #FFFFFF;
    border: 0.5px solid #878787;
    box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 36px 42px 40px 40px;
}
/* start-wecome */
.Welcome-div {
    width: 100%;
}
.Welcome {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
}
/* end-welcome */

/* start-Sign-up-to and lorem ipsum*/
.Sign-up-to-loremipsum-div {
    width: 100%;
    margin-top: 10px;
}
.Sign-up-to {
    font-weight: 500;
    font-size: 31px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}
.Lorem-Ipsum-is-simply {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
    font-style: normal;
}
/* end-sign-up-to and lorem ipsum */

/* start-email-input-div and Email-Username-Password-Confrim-Password */
.input-div {
    margin-top: 24px;
    width: 100%;
}
.Email-Username-Password-Confrim-Password {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.input {
    width: 100%;
    background: #FFFFFF;
    border: 0.6px solid #282828;
    border-radius: 6px;
    height: 59px;
    padding: 19px 0 19px 27px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #ABABAB;
}
.eye-span1 {
    position: absolute;
    right: 60px;
    transform: translate(0, -50%);
    top: 55.8%;
    cursor: pointer;
}
.eye-span2 {
    position: absolute;
    right: 60px;
    transform: translate(0, -50%);
    top: 70%;
    cursor: pointer;
}
/* end-email-input-div and Email-Username-Password-Confrim-Password */

/* start-register-button */
.button-div {
    width: 100%;
    margin-top: 31px;
}
.button-Register {
    width: 100%;
    background: #000000;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    height: 57px;
}
/* end-register-button */

/* start Already-have-an-Account-Register-div */
.Already-have-an-Account-Register-div {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.Already-have-an-Account-Register {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #7D7D7D;
}
.Register {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
a {
    color: #000000;
}
/* end Already-have-an-Account-Register-div */

/* start img-div */
.img-div {
    margin: 125px 15px 125px 598px;
}
/* end img-div */

/* start responsive */
@media (max-width: 375px) {
    .main-div {
        width: 326px;
        height: 757px;
        padding: 23px;
    }
    .Welcome {
        font-size: 19px;
    }
    .input-div {
        margin-top: 31px;
    }
    .Sign-up-to {
        font-size: 25px;
    }
    .Already-have-an-Account-Register .Register {
        font-size: 12px;
        line-height: 18px;
    }
    .img {
        width: 1px;
        height: 1px;
    }
}
/* end responsive */